
.carousel-item{
    filter: brightness(0.5);
}
.footer {
    text-align: center;
    background: linear-gradient(70deg, rgba(26,54,68,255), rgba(27,82,113,255));
    display: flex;
    color:white;
    flex-direction: row;
    padding-left: 300px;
    padding-right: 300px;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 0%;

}
